body{
    font-family: sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg, #6a0dad, black );
    color: white; 
}

.photo {
    width: 50%;
    height: 25vh;
    margin-left: 1vh;
}

.container {
    width: 400 
}               

#projects .project {
    background: rgb(22, 1, 99);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    margin-top: 30vh;
    margin-left: auto;

}

#projects .project:hover {
    transform: scale(1.05);
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#projects .project a {
    color: #007BFF;
    text-decoration: underline;
}


.box {
    width: 75vh;
    height: 60vh;
    padding: 0%;

    margin-right: auto;
    }



    .text {
    width: 40vh; 
    max-width: 50vh; 
    padding: 1%;
    background-color: #121212;
    border-radius: 1vh;
    margin-left: 3%;
    text-align: center;
    font-size: 2vh;
    color: white;
    box-sizing: border-box

}




