body{
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    background-color: #1e0033; 
    color: white;
    align-content: center; 

    overflow: hidden;
}

.photo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 4vh;

}

#projects .project {
    background: rgb(22, 1, 99);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;

}

#projects .project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#projects .project a {
    color: #007BFF;
    text-decoration: underline;
}


.box {
    width: 750px;
    height: 600px;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    }



.text {
    width: 90%; 
    max-width: 500px; 
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    box-sizing: border-box

}



.cover {
    position: relative;

    margin: auto;

    width: 3em;
    height: 3em;
    outline: #ddd;
    border: none;
    border-radius: 75%;
    background-color: #6a0dad;
    transition: 1s all; 

}


.cover:hover {
    background-color: #121212;
}


.project:hover.git {
    fill: aliceblue;
}


.topnav {
    margin-top: absolute;
    background-color: transparent;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 1vh 2vh;
    text-decoration: none;
    font-size: 2vh;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
hr{
    margin: 100%;
    color: #ffffff;
}


@media only screen and (max-width: 770px) {
    body {
        font-size: 1rem;
    }

    .mini-title {
        font-size: 1.2rem;
        margin: 1rem;
    }

    .introduction {
        margin: 6rem;
    }

    #skills .skill-list {
        margin: 6vh;
    }

    .cube {
        width: 90vh;
        max-width: 90vh;
        padding: 1vh;
        margin-top: 1vh;
    }

    .card {
        width: 80vh;
        height: 45vh;
    }

    .card-front img,
    .card-back img {
        width: 80vh;
        height: 45vh;
    }

    .box {
        width: 80%;
        padding: 5vh;
        margin: 2vh;
    }

    .boxt {
        max-width: 80vh;
        margin-top: 10vh;
    }

    .photo {
        width: 40vh;
        height: 20vh;
    }

    .github-logo,
    .envelope-logo {
        width: 20rem;
        height: 20rem;
    }

    .icon {
        font-size: 150%;
    }
}





