* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #001f3f, #6a0dad, black ); 
    color: white;
}
.line {
    height: 3px;
    color: black;
    border-color: white;
}

.title {
    color: #ffffff;
    text-align: left;

    text-align: center;
    
}

.project{
    font-size: 1.8rem;
    font-weight: bold;
    color: beige;
    margin-bottom: 10px;
    margin-right: auto;


}
#project.title {
    color: aliceblue;
}

   
.text {
    font-size: 1rem;
    margin-top: 10px;
    color: #666;
 }

 .cube {
    width: 90%; 
    max-width: 500px; 
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    box-sizing: border-box



 }
 #skills .skill-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#skills .skill {
    background: #331c9956;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#skills .skill i {
    font-size: 1.5em;
    color: #000000;
}
.box{
    width: 15%;
    height: 20%;
    background-color: rgb(17, 136, 136);
    border: 2px solid black;
    padding:  15px;
    margin: 50px;
    line-height: 75px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    
    
    
}

.game {
    width: 100;
    height: 75;
    border: 3px solid linear-gradient(to bottom, #001f3f, #6a0dad);
    padding: 10px;
    margin: 75px;
     
    
}

.boxt {
  width: 100%;
  max-width: 300px;  
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: 200vh;  
  text-align: center;
  font-size: 1.2rem;
  color: #333;

}
footer {
    padding: 10px;
    text-align: center;    
    padding-bottom: 100%;
    color: #ffffff;
    width: 10%;
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 500px;
    height: 250px;
}



.github-logo {
    width: 30rem; 
    height: 30rem;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.github-logo:hover {
    transform: scale(1,1.1);
    filter: hue-rotate(90deg);
    box-shadow: #001f3f;
    filter: brightness(1,5);
}


.icon {
    font-size: 200%;
    color: white;
}