* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    background-size: 400% 400%; 
    color: white;
    animation: gradient 2s ease infinite;
}

.mini-title {
    font-size: 1.5rem;
    font-weight: 550;

    margin-bottom: 1rem;
}

.topnav {
    position: fixed;

    top: 0;
    width: 100%;

    /* background-color: transparent; */

    background-color: #333333;
    box-shadow: 
        0 10px 20px rgba(0,0,0,0.3),
        0 6px 6px rgba(0,0,0,0.2);
}


.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 1vh 2vh;
    text-decoration: none;
    font-size: 2vh;
    
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.gradient {
    position: absolute;
    background: linear-gradient( 45deg, #000000, #0f094d, #6c1191, #ff0000);
    margin-top: -100%;

    z-index: -5000;


    height: 400rem;
    width: 100%;
}

.introduction {
    margin: 10rem;
}


#skills .skill-list {
    display: flex;
    justify-content: center;
    gap: 2vh ;
    flex-wrap: wrap;

    margin-bottom: 7rem;
}

#skills .skill {
    background: #331c9956;
    padding: 1vh 2vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    gap: 1vh;
}

#skills .skill i {
    font-size: 1.5em;
    color: #000000;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;

    }
}
.line {
    height: 1vh;
    color: black;
    border-color: white;
}

.title {
    color: #ffffff;

    text-align: center;
    
}

.project{
    font-size: 1.8rem;
    font-weight: bold;
    color: beige;
    margin-bottom: 1vh;
    margin-right: auto;


}
#project.title {
    color: aliceblue;
}

   
.text {
    font-size: 1rem;
    margin-top: 1vh;
    color: #666;
 }

 .cube {
    width: 90%; 
    max-width: 50vh; 
    padding: 2vh;
    background-color: #121212;
    border-radius: 1vh;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    box-sizing: border-box



 }
.box{
    width: 15%;
    height: 20%;
    background-color: rgb(17, 136, 136);
    border: 2px solid black;
    padding:  10vh;
    margin: 5vh;
    line-height: 5vh;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    
    
    
}

.game {
    width: 100;
    height: 75;
    border: 3px solid linear-gradient(to bottom, #001f3f, #6a0dad);
    padding: 1vh;
    margin: 50em;
     
    
}

.boxt {
  width: 100%;
  max-width: 30vh;  
  padding: 2vh;
  background-color: #f1f1f1;
  border-radius: 0,8vh;
  margin-top: 200vh;  
  text-align: center;
  font-size: 1.2rem;
  color: #333;

}
footer {
    padding: 1vh;
    text-align: center;    
    padding-bottom: 100%;
    color: #ffffff;
    width: 30%;
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.githublogo {
    padding: 1vh;
    text-align: center;    
    padding-bottom: 100%;
    color: #ffffff;
    width: 30%;
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 50vh;
    height: 25vh;
}



.github-logo {
    width: 30rem; 
    height: 30rem;
    transition: transform 0.3s ease, filter 0.3s ease;

}

.github-logo:hover {
    transform: scale(1,1.1);
    filter: hue-rotate(90deg);
    box-shadow: #001f3f;
    filter: brightness(1,5);
}


.icon {
    font-size: 200%;
    color: white;
}


.envelope-logo {
    width: 30rem;
    height: 30rem;
}
.center {
    text-align: center;
}